<h1>You BitCoin Wallet Value = $<%= @user.aob * @currentprice %></h1>
<h2>You Currently own <%= @user.aob %> Bitcoins.</h2>
<h2>Each BitCoin Is Valued At $<%=@currentprice %></h2>
<button id="refresher" onclick="renderupdate()">Click To Update</button>
